#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
@media screen and (max-width: 440px) {
  .bannerd {
    width: 100vw;
    height: 161vh;
    background: url("./assets/imgs/massas.png") no-repeat;
    background-size: 150%;
    background-position: -120px 0px;

  }
  .banner {
    width: 100vw;
    height: 161vh;
    background: url("./assets/imgs/5763716.png") no-repeat;
    background-size: 125%;
    background-position: -40px -50px;

  }
  .body_main {
    display: flex;
    width: 100vw;
    height: 100vh;

    box-shadow: 0px 0px 75px 55px #ebbac3 inset;
    background-color: #f3d1d7;
  }



 .botton_wtts_main {
  display: flex;
  position: fixed;
  bottom: 15px;
  width: 100vw;
  justify-content: center;
  align-items: center;
 }
 .botton_wtts {
  display: flex;
  gap: 5px;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  background-color:#ff4f78;
  border-radius: 30px;
 
  justify-content: center;
  align-items: center;
  
 }
 .svg_icon_whats {
  width: 30px;
 }
}